# Dependencies
node_modules/

# Environment variables
.env*.local
.env

# Firebase credentials
service-account.json
service-account.json.json

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
push_error.log

# OS
.DS_Store
Thumbs.db

# Uploads (if you don't want to track user uploads)
uploads/
